# port on which the server should run
PORT=
# postgres connection string:
# postgres://<username>:<password>@localhost:5432/<db-name>
DB=
# secret server session secret
# can be generated with node -e "console.log(require('crypto').randomBytes(64).toString('base64'))"
SECRET=